<!DOCTYPE html>
<html>
	<head>
		<title>iOS Support</title>
		<link rel=stylesheet href="/css/style.min.css"></link>
		<script src="/js/polyfill-0.1.42.min.js"></script>
		<link rel=stylesheet href="/css/bootstrap.min.css"></link>
		<meta name=viewport content='width=device-width, initial-scale=1.0, user-scalable=no, minium-scalable=1.0, maximum-scalable=1.0' charset="utf-8"/>
<script>
onerror = console.error = console.warn = function (e) {
   alert([].slice.call(arguments).join(" | "))
}</script>


	</head>
	<body>

	<div id = "preloader" class="bg-light">
		<img src="../gif/preloader.gif" />
	</div>
	
	<div id="app" hidden>
		<!-- tab hot -->
		<page-spa :swipers="hot.swipers"
			:apps-hot=hot.appHot
			:app-preview=hot.appPreview
			:is-loaded=hot.isLoaded
			v-if="tabSelect== 'hot'"
			@more="load('hot')">
		</page-spa>
		
		<!-- tab game -->
		<page-spa :swipers="game.swipers"
			:apps-hot=game.appHot
			:app-preview=game.appPreview
			:is-loaded=game.isLoaded
			v-else-if="tabSelect == 'game'"
			@more="load('game')">
		</page-spa>
		
		<!-- tab app -->
		<page-spa :swipers="app.swipers"
			:apps-hot=app.appHot
			:app-preview=app.appPreview
			:is-loaded=app.isLoaded
			v-else-if="tabSelect == 'app'"
			@more="load('app')">
		</page-spa>
		
		<!-- tab search -->
		<section class="container" v-else-if="tabSelect == 'search'">
			<!-- input -->
			<div class="row mt-3">
				<div class="col-12">

<form class="input-group search">
	<input class="form-control outline-none"
		type="text"
		placeholder="Search"
		style="border-radius: 20px;"
		ref="inputSearch"
		v-model="search.keyword"
		@keydown.enter="searchPlease">
	<span class="cancel"
		v-if="search.keyword" 
		@click="search.keyword = '';
		$refs.inputSearch.focus()">
			&times;
	</span>
</form>

				</div>
			</div>
			
			<!-- key hot -->
			<div class="row mt-5">
				<div class="col-12">
					<span class="keyword-hot-item" v-for="keyword in search.keywordHot"
@click="searchUseKeywordHot($event.target)"> {{ keyword }} </span>
				</div>
			</div>
			
			<!-- result -->
			<preview-app :app-preview="search.result" if="!isEmptyObject(search.result)">
			</preview-app>
		</section>
		
		<!-- information app -->
		<section class="container" v-else-if="tabSelect == 'inforApp'">
			<!--<div class="row">
				<div class="col-12 my-2" @click="back()">
					&lt; Back
				</div>
			</div>-->
			<div class="row">
				<div class="col-4 col-sm-3 col-md-3 col-lg-2 col-xl-2">	
					<img class="icon border" :src="inforApp.app.icon" :key="inforApp.app.icon">
				</div>
				<div class="col position-relative">
					<div class="h5 t-0 position-absolute">
						{{ inforApp.app.name }}
					</div>
					<div class="small-14 text-secondary b-0 position-absolute">
						<span>{{ sizeof(inforApp.app.size) }}</span> | <span v-if="inforApp.app.infor"> {{ inforApp.app.infor.developer }}</span>
					</div>
				</div>
			</div>
			
			<!-- Information -->
			<div class="row mt-5" v-if="!!inforApp.app.infor">
				<div class="col-12 text-bold h6 mb-0">
					Information
				</div>
				<div class="col-12">
					<table class="table table-sm w3-7 border-0">
						<tr v-for="(val, key) in inforApp.app.infor" class="border-0">
							<td class="text-secondary text-capitalize border-0 small-14"> {{ key }} </td>
							<td class="border-0 small-14"> {{ val }} </td>
						</tr>
					</table>
				</div>
			</div>
			
			<!-- Screenshoot -->
			<div class="row mt-3" v-if="!!inforApp.app.screenshoot">
				<div class="col-12 text-bold h6 mb-0">
					Screenshoot
				</div>
				<div class="col-12 mt-3">
					<div class="scroll">
						<img class="img-fluid screenshoot ml-3 border" :src="url" v-for="url in inforApp.app.screenshoot" :key="inforApp.app.icon + url"/>
					</div>
				</div>
			</div>
			
			<!-- Description -->
			<div class="row mt-3" v-if="!!inforApp.app.description">
				<div class="col-12 text-bold h6 mb-0 icon-more" @click.prevent="$set(inforApp, 'isOpenDescription', !inforApp.isOpenDescription)">
					Description
				</div>
				<div class="col-12 mt-3 small-14 text-secondary detail-close detail-open" v-html="marked(inforApp.app.description)">

				</div>
			</div>
			
			<!-- hot app -->
			<transition-group name="fade-app" tag="div" class="row mt-3">
<!-- $root = vue root -->
				<div class="col-12 mt-3 h6" :key="'title'">
					You may be interested in
				</div>
				<div class="col-3 col-sm-4 col-lg-2 col-xl-1 mb-3 text-center" v-for="(app, key) in inforApp.hotTrens" :key="equalKey(key)" @click="$root.goto(key, app)">
					<img class="img-fluid icon-sm border" :src="app.icon" style="border-radius: 10px"/>
					<div class="limit-line-1 small-80 text-bold mt-1">
						{{ app.name }}
					</div>
				</div>
			</transition-group>
			
			<div class="row py-1 download fixed-bottom bg-light">
				<div class="col-12">
					<div class="input-group input-group-sm">
						<div class="input-group-prepend">
							<span class="input-group-text">Version</span>
						</div>
						<select class="form-control custom-select" ref="select-link">
							<option v-for="(link, ver) in JSON.parse('{' + decodeURIComponent(atob(inforApp.app.versions)) + '}')"
:value="link"> {{ ver }} </option>
						</select>
						<div class="input-group-append">
							<button class="btn btn-primary rounded-0" @click="open($refs['select-link'].value)"> Download </button>
						</div>
					</div>
				</div>
			</div>
		</section>
		
		<!-- toolbar -->
		
		<section class="container fixed-bottom bg-light py-1 toolbar" v-if="tabSelect != 'inforApp'">
			<div class="row">
				<div class="col-3 text-center line-height-0" @click="switchT('hot')">
						<img :src="'svg/home' + (tabSelect == 'hot' ? '-selected.svg' : '.svg')" /><br>
						<small class="text-secondary">Home</small>
				</div>
				<div class="col-3 text-center line-height-0" @click="switchT('game')" @click.once="load('game')">
						<img :src="'svg/game' + (tabSelect == 'game' ? '-selected.svg' : '.svg')" /><br>
						<small class="text-secondary">Game</small>
				</div>
				<div class="col-3 text-center line-height-0" @click="switchT('app')" @click.once="load('app')">
						<img :src="'svg/app' + (tabSelect == 'app' ? '-selected.svg' : '.svg')" /><br>
						<small class="text-secondary">App</small>
				</div>
				<div class="col-3 text-center line-height-0" @click="tabSelect = 'search'">
						<img :src="'svg/search' + (tabSelect == 'search' ? '-selected.svg' : '.svg')" /><br>
						<small class="text-secondary">Search</small>
				</div>
			</div>
		</section>
	</div>
	
	<!-- template preview -->
	<template id = "preview-app">
		<transition-group name="fade-app" tag="div" class="row">
			<div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 row mt-3 icon-download" v-for="(app, key) in appPreview" :key="equalKey(key)" @click="$root.goto(key, app)">

<!--
	equalKey function nothing
	equalKey = e => e + ""
-->

				<div class="col-3">
					<img class="icon-sm border" :src="app.icon" />
				</div>
	<!-- icon !important -->
				<div class="col py-2 ml-2">
					<div class="text-bold small limit-line-2">
						<b>{{ app.name }}</b>
					</div>
					<span class="small-80 mt-3 text-normal"> {{ sizeof(app.size) }} </span>
				</div>
			</div>
		</transition-group>
	</template>
	
	<!-- template page-spa -->
	<template id = "page-spa">
		<section class="container">
			<div class="row">
				<transition tag="div" name="bouncy-app" class="col-12">
<carousel-3d :autoplay=true 
	:autoplay-timeout=3000 
	:border=0
	:autoplay-hover-pause=true
	:height=120
	:width="240"
	v-if="swipers.length">
	<slide v-for="(slide, i) in swipers" :index="i" :key="slide + i">
	  <img :src=slide style="border-radius: 15px"/>
	</slide>
</carousel-3d>
				</transition>
			</div>
			<transition-group name="fade-app" tag="div" class="row">
<!-- $root = vue root -->
				<div class="col-12 mt-3 h5 text-bold" :key="'title'">
					<img src="svg/hot.svg" /> Hot
				</div>
				<div class="col-3 col-sm-4 col-lg-2 col-xl-1 mb-3 text-center" v-for="(app, key) in appsHot" :key="equalKey(key)" @click="$root.goto(key, app)">
					<img class="img-fluid icon-sm border" :src="app.icon" style="border-radius: 10px"/>
					<div class="limit-line-1 small-80 text-bold mt-1">
						{{ app.name }}
					</div>
				</div>
			</transition-group>
			
			<!-- New App show 20 -->
			<preview-app :app-preview="appPreview">
			</preview-app>
			
			<!-- button load -->
			<div class="my-3 row text-primary text-center">
				<div class="col-12" v-if="isLoaded" @click="$emit('more')">
					<div>Thêm</div>
					<img src="svg/more.svg" class="loading" />
				</div>
				<div class="col-12" v-else>
					<div>Đang tải...</div>
					<img src="https://thumbs.gfycat.com/ExcellentSingleFanworms-small.gif" style="width:2rem; height: 2rem"/>
				</div>
			</div>
		</section>
	</template>
		<script src="/js/my.js" async></script>
		<script src="/js/libmy.js"></script>
		<script src="/js/vue.min.js" async></script>
		<link rel=stylesheet href="/css/limit-line.min.css"></link>
		<script src="/js/vue-carousel-3d.min.js" async></script>
		<script src="/js/marked.min.js" async></script>
		<script src="https://www.gstatic.com/firebasejs/7.10.0/firebase-app.js" async></script>
		<script src="https://www.gstatic.com/firebasejs/7.10.0/firebase-database.js" async></script>
		<script src="https://www.gstatic.com/firebasejs/7.10.0/firebase-analytics.js" async></script>
		<script src="/js/script.min.js" async></script>
	</body>
</html>
