<!DOCTYPE html>
<html>
	<head>
		<title>LegacyAppStore</title>
		<link rel=stylesheet href="../css/store.min.css"></link>
		<script src="../js/polyfill-0.1.42.min.js"></script>
		<link rel=stylesheet href="../css/bootstrap.min.css"></link>
		<meta name=viewport content='width=device-width, initial-scale=1.0, user-scalable=no, minium-scalable=1.0, maximum-scalable=1.0' charset="utf-8"/>
		<meta property="og:title" content="iOS Support">
		<meta name="description" content="Application SPA của iOS Support (Web Clip).">
		<meta property="og:description" content="iOS Support - Support For Old iOS">
		<meta property="og:image" content="/intro.png">
		<meta property="og:site_name" content="iOS Support Application">
<script>
onerror = console.error = console.warn = function (e) {
   alert([].slice.call(arguments).join(" | "))
}</script>
<style>img[alt="www.000webhost.com"]{display:none};</style>
<style>.disclaimer{display:none;}</style>
	</head>
	<body>

	<div id = "preloader" class="bg-main">
		<img src="svgs/boot.svg" />
	</div>
	
	<div id="app" hidden>
		<!-- tab hot -->
		<page-spa :swipers="hot.swipers"
			:apps-hot=hot.appHot
			:app-preview=hot.appPreview
			:is-loaded=hot.isLoaded
			v-if="tabSelect== 'hot'"
			@more="load('hot')">
		</page-spa>
		
		<!-- tab game -->
		<page-spa :swipers="game.swipers"
			:apps-hot=game.appHot
			:app-preview=game.appPreview
			:is-loaded=game.isLoaded
			v-else-if="tabSelect == 'game'"
			@more="load('game')">
		</page-spa>
		
		<!-- tab app -->
		<page-spa :swipers="app.swipers"
			:apps-hot=app.appHot
			:app-preview=app.appPreview
			:is-loaded=app.isLoaded
			v-else-if="tabSelect == 'app'"
			@more="load('app')">
		</page-spa>
		
		<!-- tab search -->
		<section class="container" v-else-if="tabSelect == 'search'">
			<!-- input -->
			<div class="row mt-3">
				<div class="col-12">

<form class="input-group search">
	<input class="form-control outline-none"
		type="text"
		placeholder="Search"
		style="border-radius: 5px;"
		ref="inputSearch"
		v-model.trim="search.keyword"
		@keydown.enter="searchPlease">
	<span class="cancel"
		v-if="search.keyword" 
		@click="search.keyword = '';
		$refs.inputSearch.focus()">
			&times;
	</span>
</form>

				</div>
			</div>
			
			<!-- key hot -->
			<div class="row mt-3 mb-5">
				<div class="col-12" v-if="search.history.length">
					<p class="small"> History Search <span class="float-right" @click="clearHistorySearch" style="font-size: 1rem"> &times; </span> </p>
					<div class="mx-1 mt-2 d-inline py-1 px-2 text-primary"
		v-for="(keyword, index) in search.history"
			@click="searchUseKeywordHot($event.target)"
		v-if="index <= 5"
		style="font-size: 14px;"
		:key="index"
		:data-value="keyword"> {{ limitKeyword(keyword) }} </div>
				</div>
				<div class="col-12 small" v-else>
					No history search
				</div>
			</div>
			
			<!-- result -->
			<preview-app :app-preview="search.result" if="!isEmptyObject(search.result)">
			</preview-app>
		</section>
		
		<!-- information app -->
		<section class="container" v-else-if="tabSelect == 'inforApp'">
			<div class="row" v-if="viewer == 'webclip'">
				<div class="col-12 py-2 border-bottom" @click="back()" style="font-weight: 600">
					<img src="../store/svgs/back.svg" style="height:1.3rem"> Back
				</div>
			</div>
			<div class="row mt-3">
				<div class="col-4 col-sm-3 col-md-3 col-lg-2 col-xl-2">	
					<img class="icon" :src="inforApp.app.icon" :key="inforApp.app.icon">
				</div>
				<div class="col position-relative">
					<div class="h5 t-0 position-absolute">
						{{ inforApp.app.name }}
					</div>
					<div class="small-14 text-secondary b-0 position-absolute">
						<span>{{ sizeof(inforApp.app.size) }}</span> | <span v-if="inforApp.app.infor"> {{ inforApp.app.infor.developer }}</span>
					</div>
				</div>
			</div>
			
			<!-- Information -->
			<div class="row mt-5" v-if="!!inforApp.app.infor">
				<div class="col-12 text-bold h6 mb-0">
					Information
				</div>
				<div class="col-12">
					<table class="table table-sm w3-7 border-0">
						<tr v-for="(val, key) in inforApp.app.infor" class="border-0">
							<td class="text-secondary text-capitalize border-0 small-14"> {{ key }} </td>
							<td class="border-0 small-14"> {{ val }} </td>
						</tr>
					</table>
				</div>
			</div>
			
			<!-- Screenshoot -->
			<div class="row mt-3" v-if="!!inforApp.app.screenshoot">
				<div class="col-12 text-bold h6 mb-0">
					Screenshoot
				</div>
				<div class="col-12 mt-3">
					<div class="scroll">
						<img class="img-fluid screenshoot ml-3 border" :src="url" v-img="{ group: 'screenshoot', src: url }" v-for="url in inforApp.app.screenshoot" :key="inforApp.app.icon + url"/>
					</div>
				</div>
			</div>
			
			<!-- Description -->
			<div class="row mt-3" v-if="!!inforApp.app.description">
				<div class="col-12 text-bold h6 mb-0 icon-more" @click.prevent="$set(inforApp, 'isOpenDescription', !inforApp.isOpenDescription)">
					Description
				</div>
				<div class="col-12 mt-3 small-14 text-secondary detail-close detail-open" v-html="marked(inforApp.app.description)">

				</div>
			</div>
			
			<!-- hot app -->
			<transition-group name="fade-app" tag="div" class="row mt-3">
<!-- $root = vue root -->
				<div class="col-12 mt-3 h6" :key="'title'">
					You may be interested in
				</div>
				<div class="col-3 col-sm-4 col-lg-2 col-xl-1 mb-3 text-center" v-for="(app, key) in inforApp.hotTrens" :key="equalKey(key)" @click="$root.goto(key, app)">
					<img class="img-fluid icon-sm" :src="app.icon" style="border-radius: 10px"/>
					<div class="limit-line-1 small-80 text-bold mt-1">
						{{ app.name }}
					</div>
				</div>
			</transition-group>
			
			<div class="row py-1 download fixed-bottom bg-light">
				<div class="col-12">
					<div class="input-group input-group-sm">
						<div class="input-group-prepend">
							<span class="input-group-text">Version</span>
						</div>
						<select class="form-control custom-select" ref="select-link">
							<option v-for="(link, ver) in JSON.parse('{' + decodeURIComponent(atob(inforApp.app.versions)) + '}')"
:value="link"> {{ ver }} </option>
						</select>
						<div class="input-group-append">
							<button class="btn rounded-0" style="color:#fff;background-color:#80489E" @click="open($refs['select-link'].value)"> Download </button>
						</div>
					</div>
				</div>
			</div>
		</section>
		
		<!-- toolbar -->
		
		<section class="container fixed-bottom bg-light py-1 toolbar" v-if="tabSelect != 'inforApp'" style="border-radius:1em 1em 0 0;background-image:-webkit-linear-gradient(top, #8c9cbf 0%, #546a9e 30%, #153153 30%, #091636 100%);border:2px solid;border-bottom:none">
			<div class="row">
				<div class="col-3 text-center line-height-0" @click="switchT('hot')">
						<img :src="'svgs/home' + (tabSelect == 'hot' ? '-selected.svg' : '.svg')" /><br>
						<small class="text-secondary">Home</small>
				</div>
				<div class="col-3 text-center line-height-0" @click="switchT('game')" @click.once="load('game')">
						<img :src="'svgs/game' + (tabSelect == 'game' ? '-selected.svg' : '.svg')" /><br>
						<small class="text-secondary">Non-JB</small>
				</div>
				<div class="col-3 text-center line-height-0" @click="switchT('app')" @click.once="load('app')">
						<img :src="'svgs/app' + (tabSelect == 'app' ? '-selected.svg' : '.svg')" /><br>
						<small class="text-secondary">iPAs</small>
				</div>
				<div class="col-3 text-center line-height-0" @click="tabSelect = 'search'">
						<img :src="'svgs/search' + (tabSelect == 'search' ? '-selected.svg' : '.svg')" /><br>
						<small class="text-secondary">Search</small>
				</div>
			</div>
		</section>
	</div>
	
	<!-- template preview -->
	<template id = "preview-app">
		<transition-group name="fade-app" tag="div" class="row">
			<div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 row mt-3 icon-download" v-for="(app, key) in appPreview" :key="equalKey(key)" @click="$root.goto(key, app)">

<!--
	equalKey function nothing
	equalKey = e => e + ""
-->

				<div class="col-3">
					<img class="icon-sm" :src="app.icon" />
				</div>
	<!-- icon !important -->
				<div class="col ml-2" style="margin-left:1rem!important">
					<div class="text-bold small limit-line-2">
						<b>{{ app.name }}</b>
					</div>
					<span class="small-80 mt-3 text-normal"> {{ sizeof(app.size) }} </span>
				</div>
			</div>
		</transition-group>
	</template>
	
	<!-- template page-spa -->
	<template id = "page-spa">
		<section class="container">
			<div class="row">
				<transition tag="div" name="bouncy-app" class="col-12">
<carousel-3d :autoplay=true 
	:autoplay-timeout=3000 
	:border=0
	:autoplay-hover-pause=true
	:height="120"
	:width="240"
	:background="'#00000000'"
	v-if="swipers.length">
	<slide v-for="(slide, i) in swipers" :index="i" :key="slide + i">
	  <img :src=slide style="border-radius: 15px" width="100%" height="100%" class="py-1" />
	</slide>
</carousel-3d>
				</transition>
			</div>
<a onclick="getid()" style="text-decoration:none;color:#000">
<div class="container col-12 h5 text-bold text-center" style="background-image:radial-gradient(circle, #e2b5ff, #dfb0f6, #dbaaed, #d7a5e4, #d3a0db, #c992d1, #be84c8, #b476be, #9f5cb2, #8a42a6, #72279b, #580190);box-shadow:0px 0px 10px 6px#fff;border-radius:6px;width:50%">GetID</div>
</a>
			<transition-group name="fade-app" tag="div" class="row">
<!-- $root = vue root -->
				<div class="col-12 mt-3 h6 text-bold" :key="'title'" style="font-family: courier">
					<img src="svgs/hot.svg"  onClick="window.location.reload()"/> Hot
				</div>
				<div class="col-3 col-sm-3 col-lg-2 col-xl-1 mb-3 text-center" v-for="(app, key) in appsHot" :key="equalKey(key)" @click="$root.goto(key, app)">
					<img class="img-fluid icon-sm w-min-3 h-min-3" :src="app.icon" style="border-radius: 10px"/>
					<div class="limit-line-1 small-80 text-bold mt-1">
						{{ app.name }}
					</div>
				</div>
			</transition-group>
			
			<!-- New App show 20 -->
			<preview-app :app-preview="appPreview">
			</preview-app>
			
			<!-- button load -->
			<div class="my-3 row text-center" style="color:#80489E">
				<div class="col-12" v-if="isLoaded === true" @click="$emit('more')" style="cursor:pointer">
					<div>More</div>
					<img src="svgs/more.svg" class="loading" />
				</div>
				<div class="col-12" v-else-if="isLoaded === false">
					<div>Loading...</div>
					<img src="svgs/loading.svg" width="25px" height="25px"/>
				</div>
				<div class="col-12" v-else>
					<div>Updating </div>
				</div>
			</div>
		</section>
	</template>
	<script>
		function getid(){
			alert('Tham gia nhóm Facebook: IOS Support - Hội Người Dùng iPhone/iOS/Apps Phiên Bản Cũ VN để lấy tài khoản kích hoạt')
			window.open('https://www.facebook.com/groups/iossp.fb')
		}
	</script>
		<script src="../js/mystore.js" async></script>
		<script src="../js/libmy.js" async></script>
		<script src="../js/search.params.min.js" async></script>
		<script src="../js/vue.min.js" async></script>
		<script src="../js/vue-lazyload.min.js" async></script>
		<script src="../js/v-img.min.js" async></script>
		<link rel=stylesheet href="../css/limit-line.min.css"/>
		<script src="../js/vue-carousel-3d.min.js" async></script>
		<script src="../js/marked.min.js" async></script>
		<script src="https://www.gstatic.com/firebasejs/7.10.0/firebase-app.js"></script>
		<script src="https://www.gstatic.com/firebasejs/7.10.0/firebase-database.js"></script>
		<script src="https://www.gstatic.com/firebasejs/7.10.0/firebase-analytics.js"></script>
		<script src="../js/store.min.js"></script>
	</body>
</html>
